[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/thxcode/stable-diffusion.cpp
	branch = dev-dcf91f9e-4
