BasedOnStyle: LLVM
Language: Cpp
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
SeparateDefinitionBlocks: Always
AlignTrailingComments: true
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PackConstructorInitializers: NextLineOnly
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
IndentCaseLabels: true
